.cr-console-header{
	background-color: $block-bg--colored;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;

	border: 1px solid $block-border !important;

}

.cr-error-header{
	background-color: $block-bg--colored;
	padding: 15px;
	margin-top: 0px;
	margin-bottom: 10px;
	word-break: break-all;
}

.cr-error-header--error-trace{
	@extend .cr-error-header;
	margin-bottom: 3px;
	margin-top: 15px;
	word-break: break-all;
}

.cr-error-header--error-trace > h4 {
	margin:0px;
}


.cr-console-header__tip{
	padding: 15px;
	min-height: 60px;
	font-weight: bold;
	flex-basis: 300px;
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.cr-console-header__options{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
	flex-grow: 1;
}

.cr-console-header__options__item{
	padding: 15px;
	min-height: 60px;
	border-left: 1px solid $block-border;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cr-console {
	margin-bottom: 13px;
}

.cr-console-header__options__item > label{
	margin: 0px !important;
}

.cr-console-header__options__item > input {
	margin-right: 10px;
}

.cr-console-header__options__item--btn{
	@extend .cr-console-header__options__item;
	justify-content: center;
}

.cr-console-header__options__item--btn > i {
	font-size: 20px;
	margin-right: 5px;
}

@media screen and (min-width: $max-width-xs){
	.cr-console-header__options__item--btn{
		max-width: 190px;
	}

	.cr-console-header__options__item--hint{
		justify-content: flex-start;
	}
}


.cr-console-header__options__item--hint{
	@extend .cr-console-header__options__item;
	border-left: none;
	justify-content: flex-end;
}

.cr-query-result{
	margin-top: 15px;
}

.CodeMirror-sizer{
	padding-right: 10px;
}

.expand-object-icon {
	z-index: 0 !important;
}


.query-result-container__header{
	background: $block-bg--colored;
	border: 1px solid $block-border;
	margin-bottom: 0px;
	margin-top: 0px;
	min-height: 60px;

	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: 40px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.query-result-container__header--title {
	flex-grow: 1;
	padding: 17px 10px;
	align-items: center;

	font-weight: 500;
	font-size: 16px;

}
.query-result-container__header--next,
.query-result-container__header--previous,
.query-result-container__header--chart {
	max-width: 70px !important;
}
.query-result-container__header--page {
	min-width: 119px;
}

.query-result-container__header--next,
.query-result-container__header--page,
.query-result-container__header--previous {
	padding: 17px 10px;

	display: flex;
	justify-content: center;

	border-left: 1px solid $block-border;
	align-items: center;
}
.query-result-container .table-responsive thead,
.query-result-container .table-responsive tbody,
{
	background: $block-bg;
}

.cr-table-cell {
	border: $cr-table-border !important;
}

tr > .cr-table-cell {
	border-top: $cr-table-border !important;
}
.cr-table-cell {
	border-top: 1px solid $body-bg !important;
	padding: 18px;
}
.cr-table-cell--max-width {
	max-width: 400px;
	min-width: 300px;
	word-wrap: break-word !important;
	display: block;
	overflow-wrap: break-word !important;
	font: inherit;
}

.cr-table-row:nth-child(2n) td {
	background: $cr-table-even-row-bg;
}

@media screen and (max-width: $max-width-s) {
	.table-responsive{
		border: 1px solid $body-bg !important;
	}
}

@media screen and (max-width: $max-width-xs){
	.hide-console-options{
		display: none;
	}
	.show-console-options{
		display: flex;
	}
}

.query-result{
	font-size: $font-size-small;
	background: none;
	color: $text-color;
	border: none;
	word-break: normal;
	display: inline-table;
}

#error-trace {
	background-color: $block-bg;
	border: none;
	color: $text-color;
	border-radius: 0px;
	font-size: $font-size-small;
	word-break: break-all;
}

#console-statement-input {
	padding: 10px !important;
}

.cm-s-monokai.CodeMirror {
	padding-left: 10px;
}

.CodeMirror {
	font-family: $font-family-monospace;
	font-size: 16px;
	min-height: 120px;
	height: auto;
	border-left: 1px solid $block-border;
	border-right: 1px solid $block-border;
}

.cm-keyword {
	text-transform: uppercase;
}

.cm-s-monokai span.cm-keyword{
	color: #FF5B4D;
}

.CodeMirror-placeholder {
	opacity: 0.5;
}

.colourised .number {
	color: $numeric-result-blue;
}

.colourised .string {
	color: $text-result-green;
}

.colourised .boolean {
	color: $boolean-result-red;
}

.colourised .object, .colourised .null {
	color: $object-result-brown;
}

.formatted-array, .formatted-object {
	white-space: normal;
}

.formatted-array a, .formatted-object a {
	color: inherit;
}

.expanded-icon {
	transform: rotate(90deg);
}

.formatted-array__length {
	color: $numeric-result-blue;
}

.formatted-array__element__key, .formatted-object__element__key {
	font-weight: bold;
}

.formatted-array__element__seperator, .formatted-object__element__seperator {
	margin-left: 5px;
	margin-right: 5px;
}

.formatted-array__element, .formatted-object__element {
	display: flex;
}

.pulse {
	-webkit-animation: spin 1s infinite steps(8);
	animation: spin 1s infinite steps(8);
}

.cr-loading-indicator{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -45%);
}

.cr-loading-indicator-icon {
	color: $cr-button-console-color--primary;
}

.table-console {
	thead tr:nth-child(1) th{
		border-top: none !important;
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.unsafe-number {
	margin-left: 10px;
	margin-right: 10px;
	color: $red;
	cursor: pointer;
}

// fix up for CodeMiror
.CodeMirror-code {
	z-index: 0 !important;
}

.CodeMirror pre {
	z-index: 0 !important;
}

.CodeMirror pre  span {
	z-index: 0 !important;
}

.CodeMirror-selected {
	z-index: 0 !important;
}

.CodeMirror-lines > div > div {
	z-index: 0 !important;
}

.cm-s-monokai div.CodeMirror-selected {
	background-color:rgba(255, 255, 255, 0.1) !important;
}

.CodeMirror-scroll{
	overflow: auto !important;
}

#share-btn > img {
	margin-bottom: 5px;
}

#share-btn {
	max-width: 70px !important;
}

.cr-chart {
	margin-bottom: 15px;
}