.cr-side-nav {
	position: fixed;
	width: $side-nav-width;
	height: 100%;
	top: $status-bar-height;
	border-right: $side-nav-border;
	background-color: $side-nav-background-color;
	display: block;
	height: 100%;
	z-index: $side-nav-z-index !important;
}

.cr-side-nav__item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	cursor: pointer;

	width: 100%;
	padding-top: 18px;
	padding-bottom: 18px;
	text-align: center;
}

.cr-side-nav__item:hover {
	background-color:$link-hover-color;
}

.cr-side-nav__item > img {
	opacity: 0.4;

}

.cr-side-nav__item:hover > img{
	opacity: 1.0;
}

.cr-side-nav__item--active  {
	border-left: 3px solid $link-hover-color;
	border-right: 3px solid transparent;
}

.cr-side-nav__item--active > img {
	opacity: 1;
}

@media screen and (max-width: $max-width-sm) {
	.cr-side-nav {
		width: $side-nav-width-xs;
	}
}
