.cr-panel-block--info{
	@extend .cr-panel-block;
	border: 1px solid $block-border;
}

.cr-panel-block__item--info{
	flex-basis: 200px;
	flex-grow: 1;
	margin: 5px;
}

.cr-panel-block--checks{
	@extend .cr-panel-block;
	justify-content:space-between;
	padding: 0px;
	background-color: $body-bg !important;
	margin: 0px -7px;
}

.cr-panel-block--monitoring{
	@extend .cr-panel-block;
	background-color: $body-bg !important;
	border: 1px solid $block-border !important;
}

.cr-panel-block__item--load,
.cr-panel-block__item--checks{
	flex-grow: 1;
	flex-basis: 160px;
	margin: 5px;
	border: 1px solid $block-border;
}

.cr-panel-block__item--load{
	background-color: transparent;
}

.cr-panel-block__chart {
	background-color: $block-bg--colored !important;
	padding-left: 10px;
	padding-right: 10px;
}


.cr-panel-block__item__header--load{
	@extend .cr-panel-block__item__header;
	flex-wrap: wrap;
	background-color: $block-bg--colored !important;
	padding: 0px !important;
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.cr-panel-block__item__header--load > h2 {
	flex: 3 1 250px;
	width: 100%;
	padding: 15px 10px;
	margin: 0px;
	background-color: $block-bg--colored !important;
}
.cr-panel-block__item__header--checks{
	@extend .cr-panel-block__item__header;
	border: 1px solid $block-border;
	border-bottom: none;
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 0px;
}



.cr-panel-block__item__header--checks h2 {
	width: 100%;
	margin: 17px 0px;
}

.cr-panel-block__item__header__icon {
	cursor: pointer;
	color: $cr-panel-block__item__header__icon--checks--color;
}

.cr-panel-block__item__header__icon--checks {
	@extend .cr-panel-block__item__header__icon;
	display: inline-block;
	flex: 0 0 54px;
	padding: 18px 20px 0;
}

.cr-panel-block__item__header__icon--load {
	@extend .cr-panel-block__item__header__icon;
	display: inline-block;
	flex-basis: 110px;
	padding: 18px 10px;
	display: flex;
	align-items: center;
	background-color: $block-bg--colored !important;
	font-weight: normal;
}

.cr-panel-block__item__header__icon--load:hover,
.cr-panel-block__item__header__icon--load:focus {
	text-decoration: none;
}

#cluster-load > svg {
	height: 350px;
}

.cr-severity-content {
	padding: 10px;
	border: 1px solid $block-border;
}

.cr-severity-header {
	@extend .cr-severity-content;
	border-top: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.cr-severity-header__title{
	font-weight: bold;
	font-size: $font-size-base;
}

.cr-severity-header__btn,
.cr-severity-header__btn:hover,
.cr-severity-header__btn:focus {
	color: $text-color;
	text-decoration: underline
}

.cr-severity-list__item__header {
	@extend .cr-severity-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid $block-border;
	border-top: none;
}

.cr-severity-list__item__header__title{
	font-weight: bold;
	font-size: $font-size-base;
}

.cr-severity-list__item__header__btn,
.cr-severity-list__item__header__btn:hover,
.cr-severity-list__item__header__btn:focus {
	color: $text-color;
	text-decoration: underline
}

.cr-radio-button__load {
	width: 14px !important;
	height: 14px !important;
	border-radius: 7px !important;
	border: 2px solid $radiobutton-border !important;
	display: block;
	position: relative;
	margin-right: 9px;
	overflow: hidden;
}

.cr-radio-button__load__toggle {
	width: 30px !important;
	height: 30px !important;
	border-radius: 15px !important;
	margin: 0;
	position: absolute;
	top: -15px;
	left: -15px;

}

.cr-radio-button__load__toggle--inactive {
	background-color: transparent !important;
}

.cr-radio-button__load__toggle--one {
	background-color: $radiobutton-bg-lightblue;
}

.cr-radio-button__load__toggle--five {
	background-color: $radiobutton-bg-blue;
}

.cr-radio-button__load__toggle--fifteen {
	background-color: $radiobutton-bg-darkblue;
}

.checks {
	border-bottom: 5px solid $body-bg;
	background-color: $block-bg--colored !important;
}

.cr-radio-button__monitoring__toggle--overall {
	background-color: #00ff9b;
}

.cr-radio-button__monitoring__toggle--select {
	background-color: #5987ff;
}

.cr-radio-button__monitoring__toggle--insert {
	background-color: #55d4f5;
}

.cr-radio-button__monitoring__toggle--update {
	background-color: #e0d838;
}

.cr-radio-button__monitoring__toggle--delete {
	background-color: #ff99a7;
}
