.table-side-bar{
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

#tableFilter {
	display: block;
	width: 100%;
	border: 0px;
	padding: 10px;
	background-color: $table-side-bar-search-background;
	color: $table-side-bar-search-color;
	letter-spacing: 0.5px;
	outline-offset: 0px;
}

#tableFilter:focus {
	outline: none;
}

.table-nav-tab-header {
	font-weight: 700;
	background-color: $table-side-bar-schema-background;
}

.table-nav-tab-header .fa {
	width: 10px;
}

.table-list-wrapper, .tables-list, .table-group {
	overflow-y: auto;
}

.table-list, .table-group {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.table-list-wrapper {
	display: block;
}

.filter__wrapper{
	flex: 0 0 auto;
}

.table-list-wrapper a,
.table-list-wrapper a:hover,
.table-list-wrapper a:focus {
	display: block;
	width: 100%;
	margin: 0;
	outline: 0;
}

.table-name-row {
	display: flex;
	justify-content: space-between;
	word-break: break-all;
}

.table-list-wrapper h3 {
		margin: 0 0 3px 0;
		font-size: $font-size-small;
}

.table-information {
	font-size: $font-size-xsmall;
}

@media only screen and (max-width : $max-width-sm) {
		.table-information {
			display: none;
		}
}

.cr-clear-filters{
		float: right;
		top: 14px;
		right: 56px;
		position: absolute;
		cursor:pointer;
}

.table__tab__tab-header{
	font-weight: 700;
}

.table__tab__tab-header--selected{
	background-color: $side-bar-element-active-bg-color;
}

.collapse_btn--active{
	color: $side-bar-element-active-bg-color;
}

.filter__wrapper{
	cursor: pointer;
	display: flex;
	flex-direction: row;
	border-bottom: $side-bar-bottom-border;
}

.table__list__btn{
	flex-grow:1;
	text-align: center;
	padding: 10px;
	border-left: $side-bar-bottom-border;
}
.table__list__btn:hover {
	background-color: $cr-button-bg-color--hover;
}

.table__list__btn:active {
	background-color: $cr-button-bg-color--active;
}

.table__list__btn__icon{
	margin-right: 5px;
}

.table__list__btn--no-border-left{
	border-left:none;
}

@media screen and (max-width : $max-width-sm) {
	.table__list__btn__wrapper{
		 flex-direction: column !important;
	}
	.table__list__btn{
		border-bottom: $side-bar-bottom-border;
		text-align: start !important;
	}
}
