.cr-panel-block--tutorial {
	display: block;
	border: 1px solid $block-border;
	font-size: $font-size-base;
}

.cr-import-tweets__button {
	padding: 15px;
	min-height: 60px;
	border: 0px;
	border-left: 1px solid $block-border;
	width: 100%;
}

.import-tweets__button {
	width: 320px;
}

.import-tweets__submit__panel {
	width: 100%;
	background-color: $block-bg;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	border: 1px solid $block-border;
}

.import-tweets__error {
	flex-direction: column;
	align-items: flex-start;
	margin-top: 5px;
	color: #ec574e;
	padding: 20px 10px;
	border: none;
}

.import-tweets__text {
	padding: 15px;
	min-height: 50px;
}

.import-tweets__text p {
	margin: 0px;
}

.cr-panel-block--help {
	width: 100%;
	border: 1px solid $block-border;
}

.help-sources__wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.help__item {
	max-width: 250px;
	margin: 7px 7px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.help__item__icon > img {
	width: 32px;
	max-height: 32px;
}

.help__item__content {
	margin-left: 10px;
	color: $text-color;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 61px;
}

.help__item__content_title {
	margin-top: 0px;
}

.help__item__content__url {
	opacity: 0.9;
}

@media screen and (max-width: $max-width-sm) {
	.cr-panel-block--help {
		margin-left: 0px;
		flex: 0 0 100%;
	}

	.help__wrapper {
		flex-wrap: wrap;
	}

	.help__item {
		min-width: 100%;
	}
}

@media screen and (max-width: $max-width-xs) {
	.import-tweets__button,
	.import-tweets__text {
		width: 100%;
	}

	.import-tweets__submit__panel {
		flex-wrap: wrap-reverse;
		text-align: center;
	}
}
