.udf-detail {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border: 1px solid $block-border;
}

.udf-detail__row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 50%;
}

.udf-detail__fullrow {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.udf-detail.cr-panel-block {
	margin-bottom: 5px !important;
}

.udf-detail__cell {
	width: 50%;
	padding: 0px 15px;
}

.udf-detail__fullcell {
	width: 100%;
	padding: 0px 15px;
}

.udf-detail__cell-title {
	font-weight: 700;
}

.udf-detail__cell-content {
	padding: 6px;
	border-radius: 3px;
	border: 1px solid $block-border;
}

@media only screen and (max-width : $max-width-m) {

	.udf-detail__row {
		width: 100%;
	}

}

@media only screen and (max-width : $max-width-xs) {

	.udf-detail__cell {
		width: 100%;
	}

}
