//
// Variables
// --------------------------------------------------

//
// Body
// --------------------------------------------------

@body-bg:               #2e2e2e;
@text-color:            rgba(255,255,255,0.9);
@block-bg:              rgba(255,255,255,0);
@nvd3-text-color: 		@text-color;

@font-size-xlarge:    28px;
@font-size-large:     24px;
@font-size-medium:    20px;

@font-size-base:      18px;
@font-size-small:     16px;
@font-size-xsmall:      14px;

@font-size-h1:        @font-size-xlarge;
@font-size-h2:        @font-size-medium;
@font-size-h3:        @font-size-medium;
@font-size-h4:        @font-size-medium;

//
// Media queries
// --------------------------------------------------

@max-width-sm: 960px;
@max-width-m: 1280px;
@max-width-xs: 600px;
@max-width-s: 840px;

//
// Z-index
// --------------------------------------------------
@side-nav-z-index: 1030;

//
// side-nav
// --------------------------------------------------

@side-nav-background-color: #444;
@side-nav-border: 1px solid #2e2e2e;
@side-nav-width: 80px;
@cr-layout-z-index: 1030;

@side-nav-width-xs: 60px;

//
// status-bar
// --------------------------------------------------

@status-bar-height: 50px;
@status-bar-border-bottom: 1px solid #2e2e2e;
@status-bar-background-color: #444;
@status-bar-color: #ccc;
@status-bar-font-size: 13px;


@bubble-success-border: 2px solid #2abc50;
@bubble-success-background: rgba(42, 188, 80, .3);


@bubble-warning-border: 2px solid #f6bb41;
@bubble-warning-background: rgba(246,187,65,0.3);


@bubble-danger-border: 2px solid  rgb(236, 87, 78);
@bubble-danger-background: rgba(236, 87, 78,0.3);


@bubble-master-border: 2px solid #428bca;
@bubble-master-background: rgba(66, 139, 202, 0.3);

//
// side-bar
// --------------------------------------------------

@side-bar-bg-color: #444;
@side-bar-element-bg-color: #373737;
@side-bar-bottom-border: 1px solid #2e2e2e;
@side-bar-element-hover-bg-color: #505050;
@side-bar-element-active-bg-color: #5d5d5d;

//
// table-side-bar
// --------------------------------------------------

@table-side-bar-search-background: #cecece;
@table-side-bar-search-color: #222;
@table-side-bar-search-box-shadow: inset 0 0 6px 0 #222;

//
// cr-panel
// -------------------------------------------------


@cr-panel-success-border: 2px solid #2ABC50;
@cr-panel-success-background: rgba(42, 188, 80, .3);

@cr-panel-warning-border: 2px solid #f6bb41;
@cr-panel-warning-background: rgba(246,187,65,0.3);

@cr-panel-danger-border: 2px solid rgb(236, 87, 78);
@cr-panel-danger-background: rgba(236, 87, 78, 0.3);

@cr-panel-default-border: 1px solid @body-bg;
@cr-panel-default-background: #242424;

@cr-panel-block__item__header__icon--checks--color: #fff;

//
// cr-cell
// -------------------------------------------------

@cr-cell-success-border: 2px solid #2ABC50;
@cr-cell-success-background: rgba(42, 188, 80, .3);

@cr-cell-warning-border: 2px solid #f6bb41;
@cr-cell-warning-background: rgba(246,187,65,0.3);

@cr-cell-danger-border: 2px solid rgb(236, 87, 78);
@cr-cell-danger-background: rgba(236, 87, 78, 0.3);


//
// severity
//----------------------------------------------------

@severity--info-color:		 @text-color;
@severity--warning-color: 	 #f6bb41;
@severity--danger-color:  	rgb(236, 87, 78);

@cr-severity-content-border: @body-bg;
