//
// Variables
// --------------------------------------------------

//
// Body
// --------------------------------------------------

@body-bg:               #2e2e2e;
@text-color:            #aaa;

//
// Media queries
// --------------------------------------------------

@max-width-sm: 960px;
@max-width-m: 1280px;
@max-width-xs: 600px;
@max-width-s: 840px;


//
// side-nav
// --------------------------------------------------

@side-nav-background-color: #444;
@side-nav-border: 1px solid #2e2e2e;
@side-nav-width: 80px;
@cr-layout-z-index: 1030;

@side-nav-width-xs: 60px;

//
// status-bar
// --------------------------------------------------

@status-bar-height: 50px;
@status-bar-border-bottom: 1px solid #2e2e2e;
@status-bar-background-color: #444;
@status-bar-color: #ccc;
@status-bar-font-size: 13px;


@bubble-success-border: 2px solid #2abc50;
@bubble-success-background: rgba(42, 188, 80, .3);


@bubble-warning-border: 2px solid #f6bb41;
@bubble-warning-background: rgba(246,187,65,0.3);


@bubble-danger-border: 2px solid  rgb(236, 87, 78);
@bubble-danger-background: rgba(236, 87, 78,0.3);
