.cr-layout {
  z-index: @cr-layout-z-index;
}

.cr-side-nav {
  position: fixed;
  width: @side-nav-width;
  height: 100%;
  top: @status-bar-height;
  border-right: @side-nav-border;
  background-color: @side-nav-background-color;
  display: block;
  height: 100%;
}

.cr-side-nav-item {
	display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;

  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.cr-side-nav-item > img {
  opacity: 0.4;

}
.cr-side-nav-item_active > img {
  opacity: 1;
}

@media only screen and (max-width: @max-width-xs) {
  .cr-side-nav {
    // display: none;
  }
}

@media only screen and (max-width: @max-width-s) {
  .cr-side-nav {
    width: @side-nav-width-xs;
  }
}
