.status-bar{
  border-bottom: @status-bar-border-bottom;
  background-color: @status-bar-background-color;

  min-height: @status-bar-height;

  padding-right: 10px;
  padding-left: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  color: @status-bar-color;
  font-size: @status-bar-font-size;

  font-family: HelveticaNeueStd, sans-serif;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0.3px;

  position: fixed;
  top: 0px;
  right: 0px;
  z-index: @side-nav-z-index;
}

.status-bar__content{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
.status-bar__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.status-bar__icon--menu{
  cursor: pointer;
  width: 60px;
  padding-left: 7px;
  padding-right: 17px;
}

.status-bar__icon--crate{
  max-height: 18px;
}

.status-bar__content__item{
  padding-right: 10px;
  padding-left: 10px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.status-bar__content__item-link,
.status-bar__content__item-link:hover,
.status-bar__content__item-link:focus {
  border-radius: 0;
  line-height: 100%;
  color: @status-bar-color;
  border: 0 none;
  padding: 10px;
  margin: 0;
  outline: 0;
}

.cr-bubble {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.cr-bubble--success {
  border: @bubble-success-border;
  background-color: @bubble-success-background;
}

.cr-bubble--warning {
  border: @bubble-warning-border;
  background-color: @bubble-warning-background;
}

.cr-bubble--danger {
  border: @bubble-danger-border;
  background-color: @bubble-danger-background;
}