// Global
// -------------------------

body {
  color: #000000;
}

h2, h3 {
  font-weight: bold;
}

strong {
  padding: 3px;
  font-weight: bold;
}

// Structure
// -------------------------

.row-first {
  margin-top: 20px;
}



#page-viewport {
  // margin-left: @side-nav-width;
  // margin-top: @status-bar-height;
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page-container-padded {
  padding-left: 280px;
}

.page-header {
  margin: 30px 0 10px 0;
  padding: 0px;
  border-bottom: 1px solid @gray-lighter;
}

.section-header {
  margin: 30px 0 10px 0;
  padding: 0px;
}

.page-header-sm {
  margin: 10px 0;
  font-weight: bold;
}

.menu-toggle {
  display: none;
}

// Logo
// -------------------------

.navbar-brand {
  background-image: url("@{image-url}/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 140px;
  height: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.bottom-fixed {
  position: absolute;
  bottom: 0px;
}

// Navs
// -------------------------
// Navleft

.side-nav {
  font-weight: bold;
  font-size: @font-size-small;
  text-transform: uppercase;
  width: 140px;
  padding-top: 30px;
  background-color: #252525;

  ::-webkit-scrollbar {
    display: none;
  }

  li > a {
    padding: 18px 20px;
    width: 140px;
    text-align: center;
  }

  a:focus {
    outline: 0px none;
  }

  .fa {
    font-size: 2em;
  }
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover {
  border: 0px;
}

// Statusbar

// .navbar-fixed-top {
//   max-height: @status-bar-height;
//   border: 0 none;
//   text-transform: uppercase;
//   font-size: @font-size-small;
//   color: #fff;
//   background-color: @gray-darker;
// }

.navbar-inverse {

  background-color: @gray-dark;

    .navbar-right {
        padding: 2px 17px 2px 0;
    }
    .navbar-right > li {
        padding: 0 10px;
    }
    .navbar-right > li.dropdown {
        padding: 0 5px;
    }
    .navbar-right > li.dropdown > a {
        padding: 0px 5px;
        color: #fff;
    }
    .navbar-right > li.dropdown > a:hover {
        color: @gray-lighter;
    }

    .alert-success {
        background-color:@brand-success;
        color: #fff;
        span.label.label-success {
            font-weight: bold;
        }
    }

    .alert-success {
        background-color:@brand-info;
        color: #fff;
        span.label.label-success {
            font-weight: bold;
        }
    }

    .alert-warning,
    .alert-warning .label {
        background-color:@brand-warning;
        color: #fff;

        .navbar-user li > a {
            color: #fff;
        }
        span.label.label-warning {
            font-weight: bold;
        }
    }

    .alert-danger {
        background-color:@brand-danger;
        color: #fff;
        span.label.label-danger {
            font-weight: bold;
        }
    }

}

// Second vertical Navigation

.table-hscroll, .query-result-container {
    overflow: auto;
}

.side-list {
  width: 280px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  font-size: @font-size-small;
  overflow-x: hidden;
  background: @gray-lighter;
  top: @status-bar-height;

  input {
    display: block;
    width: 100%;
    border: 1px solid @gray-light;
    border-top: 0px;
    border-left: 0px;
    padding: 6px;
  }
  .nav > li {
    display: block;
    width: 100%;
  }

  .nav > li > a,
  .nav > li > a:hover,
  .nav > li > a:focus {
    border-radius: 0;
    line-height: 100%;
    color: #000000;
    border: 0 none;
    padding: 10px;
    margin: 0;
    outline: 0;
    border-bottom: 1px solid @gray-light;
    border-top: 1px solid @gray-light;
  }

  .nav > li > a:hover,
  .nav > li > a:focus {
    background: lighten(@gray-lighter, 5%);
    border-top: 1px solid @gray-light;
    border-bottom: 1px solid @gray-light;
  }

  .nav > li.active > a,
  .nav > li.active > a:hover,
  .nav > li.active > a:focus {
    color: #000000;
    outline: 0;
    background: #fff;
  }

  .nav > li.active > a:hover,
  .nav > li.active > a:focus {
    background: #fff;
  }

  li.nav-tabs-header {
    a.tabs-header,
    a.tabs-header:hover,
    a.tabs-header:active {
      background: @gray-light;
      border: 0 none;
    }
  }

  h3 {
    margin: 0 0 3px 0;
  }
}


// Elements
// -------------------------

.label {
  padding: 1px 4px 1px;
  font-size: @font-size-small;
  font-weight: normal;
  text-align: center;
  border-radius: 0;
}

.label-load5 {
  opacity: 0.8;
}

.label-load15 {
  opacity: 0.5;
}

.label > a {
  color: #fff;
  text-decoration: none;
}

.alert {
  padding: 0;
  margin-right: 20px;
  border: 0px none;
  background: transparent none;

    .close {
      color: @gray;
    }

    h4 span {
      padding: 1px;
      padding-left: 4px;
      color: #fff;
      display: inline;
    }

    p {
      padding: 2px;
      color: #fff;
      display: inline;
    }
}

.alert-danger {
    border: 0px none;
    background: transparent none;
    h4 span {
      color: #fff;
      padding: 0px 5px;
      background: @brand-danger;
    }
    p {
      color: #fff;
      padding: 0px 5px;
      background: @brand-danger;
      display: inline;
    }
}

.alert-info {
    border: 0px none;
    background: transparent none;
    h4 span {
      color: #fff;
      padding: 0px 5px;
      background: @brand-info;
    }
    p {
      color: #fff;
      padding: 0px 5px;
      background: @brand-info;
      display: inline;
    }
}

.alert-success {
    border: 0px none;
    background: transparent none;
    h4 span {
      color: #fff;
      padding: 0px 5px;
      background: @brand-success;
    }
    p {
      color: #fff;
      padding: 0px 5px;
      background: @brand-success;
      display: inline;
    }
}

.alert-danger .alert-link {
  background-color: transparent;
  color: #ffffff;
  font-weight: normal;
}

.panel {
  border: 0;
  box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 0;
  min-height: 60px;
  .panel-heading {
    color: #000;
    background-color: inherit;
    border-radius: 0;
    border: 0;
    padding: 0;
  }
}

.announcement-heading {
  font-size: @font-size-large;
}

.announcement-heading.small {
  font-size: @font-size-small;
}


.announcement-text {
  font-size: @font-size-small;
  color: @gray-light;
  border-bottom: 1px solid @gray-lighter;
}

.panel-headline {
  font-size: @font-size-medium;
  margin: 0;
}

.panel-success > .panel-heading .announcement-heading,
.panel-warning > .panel-heading .announcement-heading,
.panel-danger > .panel-heading .announcement-heading {
  display: inline;
  color: #fff;
  padding: 2px 10px;
}

.panel-success > .panel-heading .announcement-heading {
  background-color: @brand-success;
}

.panel-warning > .panel-heading .announcement-heading {
  background-color: @brand-warning;
}

.panel-danger > .panel-heading .announcement-heading {
  background-color: @brand-danger;
}

.chart-container {
  min-height: 20px;
}

.load-label, .load-value {
  width: 60px;
  display: inline-block;
}
.iops-label, .iops-value {
  width: 100px;
  display: inline-block;
}

#load-graph {
  width: 80%;
  height:250px;
}

#legend ul {
  width: 150px;
  list-style-type: none;
  list-style-position: inside;
  padding-left: 20px;
}

#legend li {
  padding-left: 10px;
}

.list-clusterchecks > li {
  border-bottom: 1px solid @gray-lighter;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.list-clusterchecks > li > ul > li {
  padding: 2px 0;
  margin: 0;
  font-size: @font-size-small;
}

// Form

form {
  margin-top: 30px;
}

#emailform form {
    margin: 10px 0;
}

#emailform input[type='email'] {
    width: 230px;
}

table.table-code tbody,
textarea#console-statement-input {
    font-family: @font-family-monospace;
    font-size: 13px;
}

// Buttons

.btn-default {
    font-weight: bold;
    background-color: #cfdfdf;
    border: 1px solid #cfdfdf;
}
.btn-default.active,
.btn-default:active,
.btn-default:focus,
.btn-default:hover {
    font-weight: bold;
    background-color: #cfcfcf;
    border: 1px solid #cfcfcf;
}

.btn-danger {
    font-weight: bold;
    background-color: #efcfcf;
    border: 1px solid #efcfcf;
    color: #333;
}

.btn-sort {
    color: #333;
    background-color: #efefef;
    border-color: #dfdfdf;
}

.btn-sort.active,
.btn-sort:active,
.btn-sort:focus,
.btn-sort:hover {
    color: #000;
    background-color: #dfdfdf;
    border-color: #cfcfcf;
}

.btn-small {
    font-size: inherit;
}

//

span.health-bubble {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.master {
  display: inline-block;
  background-color: #428bca;
  height: 10px;
  width: 10px;
}
//
// Mixins
// --------------------------------------------------

.inline-block {
  display: inline-block;
}

.margin-left-5 {
  margin-left: 5px;
}

.list-header-title {
    padding: 3px 0;
    line-height: 150%;
}

#console-options {
    display: none;
    background-color: #f0f0f0;
    border: 1px solid #efefef;
    padding: 5px 10px;
}


//
// Notifications
// --------------------------------------------------

.navbar-inverse {
  ul.navbar-nav {
    li.dropdown {
        padding-right: 0px;
    }
    li.dropdown > a {
        border-radius: 2px;
    }
    li.dropdown > a.num-unread {
        color: @gray-lighter;
        background: @brand-danger;
    }
    li.dropdown > a.num-unread:hover,
    li.dropdown > a.num-unread:active {
        color: #fff;
    }
    li.dropdown.open > a.num-unread {
        color: @brand-danger;
        background-color: #fff;
    }
  }
}

ul.notifications {
    width: 400px;

    li.notification-header,
    li.notification-footer {
        text-transform: none;
        text-align: center;
        hr {
            margin: 1px 0;
        }
        h3 {
            font-size: 18px;
            margin: 5px 0;
            color: @gray;
        }
        a {
            font-weight: bold;
            font-size: 14px;
            color: @gray;
        }
    }

    li {
        a {
            white-space: normal;
            display: block;
        }
        h3 {
            font-weight: bold;
            margin: 5px 0 0 0;
            color: #333;
        }
        div, p {
            font-size: 15px;
            color: @gray;
            text-transform: none;
        }
        p {
            margin: 20px;
        }
        .icon {
            float: left;
            width: 40px;
            i.fa {
                font-size: 32px;
                color: @brand-info;
            }
        }
    }

    li.unread {
        border-left: 3px solid #000;
        background-color: lighten(@brand-warning, 40%);
        a:hover {
            background-color: lighten(@brand-warning, 30%);
        }
        div {
            font-color: #000;
        }
    }

    li.unread-important {
        border-left: 3px solid #000;
        background-color: lighten(@brand-danger, 30%);
        a:hover {
            background-color: lighten(@brand-danger, 20%);
        }
        div {
            font-color: #000;
        }
    }

}

//
// Languages
// --------------------------------------------------
ul.languages{
  li{
    cursor: pointer;
  }
}

// CodeMirror Editor
// -----------------

.CodeMirror {
    font-family: @font-family-monospace;
    font-size: 16px;
    height: 120px;
}
.cm-s-monokai.CodeMirror {
    background: #252525;
    .CodeMirror-placeholder {
        color: #8a8a8a;
    }
}

pre.query-result{
    font-size: 12px;
    background: none;
    color: #000;
    border: none;
    word-break: normal;
}

// Tables
// ------

table.table {
  font-size: @font-size-small;
}

table.table-bordered > thead > tr> th.header-colspan {
  border-bottom-width: 1px;
}

// Override nv.d3.css
// ------------------

svg text {
  font: normal 16px BlenderPro;
}

svg .title {
 font: normal 14px BlenderPro;
}

/********************
 * TOOLTIP CSS
 */

.nvtooltip {
  position: absolute;
  background-color: rgba(255,255,255,1.0);
  padding: 1px;
  border: 1px solid rgba(0,0,0,.2);
  z-index: 10000;

  font-family: BlenderPro;
  font-size: 13px;
  text-align: left;
  pointer-events: none;

  white-space: nowrap;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**********
*  Axes
*/
.nvd3 .nv-axis {
  pointer-events:none;
}

.nvd3 .nv-axis path {
  fill: none;
  stroke: #000;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}

.nvd3 .nv-axis path.domain {
  stroke-opacity: .75;
}

.nvd3 .nv-axis.nv-x path.domain {
  stroke-opacity: 0;
}

.nvd3 .nv-axis line {
  fill: none;
  stroke: #e5e5e5;
  shape-rendering: crispEdges;
}

.nvd3 .nv-axis .zero line,
/*this selector may not be necessary*/ .nvd3 .nv-axis line.zero {
  stroke-opacity: .75;
}

.nvd3 .nv-axis .nv-axisMaxMin text {
  font-weight: normal;
}

.nvd3 .x  .nv-axis .nv-axisMaxMin text,
.nvd3 .x2 .nv-axis .nv-axisMaxMin text,
.nvd3 .x3 .nv-axis .nv-axisMaxMin text {
  text-anchor: middle
}



/*==========  Bootstrap Media Queries ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

  *.hide-lg {
    display: none !important;
  }


  .side-nav {
    width: 60px;
    li > a {
      width: 60px;
      padding: 10px 0;
    }
    li > a > span {
      display: none;
    }
    .navbar-brand {
      padding: 0;
    }
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  *.hide-md {
    display: none !important;
  }

  .side-list {
    width: 200px;
  }

  .page-container-padded {
    padding-left: 200px
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  *.hide-sm {
    display: none !important;
  }

  // #page-viewport {
  //   padding: 50px 0 0 0;
  // }

  .side-nav {
    width: auto;
    padding: 20px 0;
    li > a {
      float: left;
      margin: 0;
      padding: 0 10px;
    }
    li.dropdown {
      display: none;
    }
    #crate-logo {
      display: none;
    }
  }

  .navbar-inverse {
    background-color: @gray-darker;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .side-list {
    margin-left: -200px;
  }
  .page-container-padded {
    padding-left: 0;
  }
  .menu-toggle {
    display: inline-block;
  }
  // #page-viewport.show-sidebar {
  //   .side-list {
  //     margin-left: 0;
  //   }
  //   .page-container-padded {
  //     margin-left: 200px;
  //     margin-right: -200px;
  //     .panel {
  //       opacity: 0.15;
  //     }
  //   }
  // }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}
