.cr-import-tweets__button {
  padding: 15px;
  min-height: 60px;
  border: 0px;
  border-left: 1px solid @body-bg;
  border-top: 1px solid @body-bg;
  flex-grow: 1;
}

.import-tweets__submit__panel {
  width: 100%;
  background-color: @block-bg;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.import-tweets__text {
  padding: 15px;
}

.import-tweets__text p {
  margin: 0px;
}
