.build
.clone
.crate-docs-build
.DS_Store
.env
.idea/
.installed.cfg
.tmp/
.utils
.venv/
*.DS_Store
*.egg-info
*.lint
*.pyc
*.pyo
app/tests/coverage/
bin/
bower_components
build
coverage/
develop-eggs/
dist/
eggs/
env/
node_modules/
out/
parts/
