crate-docs-theme

# packages for local dev
sphinx-autobuild

# the next section should exact copy of the hosted RTD environment (please
# update if you notice that this is not the case)

alabaster>=0.7,<0.8,!=0.7.5
setuptools<41
sphinx==1.7.4
