<div class="page-container" lazy-load-scroll="loadMoreRows(50)">
    <div class="cr-page-header">
      <h1>{{ 'NAVIGATION.CONSOLE' | translate }}</h1>
    </div>

    <div console>
        <div>
          <div class="cr-console-header">
            <div class="cr-console-header__tip">{{ 'CONSOLE.TIP' | translate }}</div>

            <div class="cr-console-header__options__item--btn cr-button hide-gt-xs" ng-click="toggleOptions()">
                <i class="fa fa-cog"></i>
            </div>

            <div class="cr-console-header__options" ng-class="showOptions ? 'show-console-options' : 'hide-console-options'">
              <div class="cr-console-header__options__item">
                  <input id="format-results" type="checkbox" ng-model="formatResults" ng-change="formatReturnedResults()">
                  <label for="format-results">{{ 'CONSOLE.FORMAT_RESULTS' | translate }}</label>
              </div>
              <div class="cr-console-header__options__item">
                  <input id="use-local-storage" type="checkbox" ng-model="useLocalStorage" ng-change="storeInLocalStorageChanged()">
                  <label for="use-local-storage">{{ 'CONSOLE.STORE_CONSOLE' | translate }}</label>
              </div>
              <div class="cr-console-header__options__item">
                <input id="show-error-trace" type="checkbox" ng-model="showErrorTrace" ng-change="showErrorTraceChanged()">
                <label for="show-error-trace" >{{ 'CONSOLE.SHOW_ERROR_TRACE' | translate }} </label>
              </div>

              <div class="cr-console-header__options__item--btn cr-button" ng-click="clearLocalStorage()">
                <i class="fa fa-trash-o"></i>
                {{ 'CONSOLE.CLEAR_HISTORY' | translate }}
              </div>
            </div>
          </div>

          <div>
            <cli mime-type="text/x-cratedb" theme="monokai"></cli>
          </div>

          <div class="cr-console-header">
            <div class="cr-console-header__tip {{ status | queryStatusClass }}" >{{ status }}</div>

            <div class="cr-console-header__options">
              <div class="cr-console-header__options__item--hint">{{ 'CONSOLE.HINT' | translate }}</div>
              <div id="execute-btn" class="cr-console-header__options__item--btn cr-button cr-button--console" ng-click="execute()" type="submit" >
                <div ng-class="loading ? 'faded-text' : ''" translate>{{ 'CONSOLE.EXCUTE_QUERY' }}</div>
                <div ng-if="loading" class="cr-loading-indicator"><i class="fa fa-spinner pulse fa-2x fa-fw cr-loading-indicator-icon"></i></div>
              </div>
            </div>
          </div>
      </div>

      <div ng-hide="error.hide" class="cr-error-header query-status--error">
        <p>{{ 'CONSOLE.ERROR' | translate }}</p>
        <p>{{ error.message }}</p>
      </div>

      <div ng-hide="error.hide || !showErrorTrace" class="cr-error-header--error-trace">
        <h4> {{ 'CONSOLE.ERROR_TRACE' | translate }} </h4>
      </div>

      <div ng-hide="error.hide || !showErrorTrace">
        <pre id="error-trace"><code>{{ error.error_trace }}</code></pre>
      </div>
    </div>

    <div ng-show="renderTable" class="query-result-container" ng-class="{colourised: formatResults}">

      <h2  class="query-result-container__header">{{ 'CONSOLE.RESULT_FROM_QUERY' | translate }}</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="header cr-table-cell" ng-repeat="header in resultHeaders track by $index">{{ header }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in rows | limitTo:limitToAmount" ng-class="$odd ? 'cr-table-cell__odd-row' : 'cr-table-cell__even-row'">
              <td class="cr-table-cell" ng-repeat="column in row track by $index">
                <div ng-if="formatResults">
                  <div ng-if="column == null">
                    <pre class="query-result {{ resultHeaderTypes[$index] | columnTypeClass }}">NULL</pre>
                  </div>
                  <div ng-if="column != null && ColumnTypeCheck.requiresNoFormatting(resultHeaderTypes[$index])">
                    <pre class="query-result {{ resultHeaderTypes[$index] | columnTypeClass }}">{{ column }}<span  class="unsafe-number" data-original-title="{{ 'CONSOLE.UNSAFE_INTEGER' | translate }}" cr-tooltip cr-tooltip-position="right" ng-if="!ColumnTypeCheck.isSafe(column)"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span></pre>
                  </div>
                  <div ng-if="column != null && !ColumnTypeCheck.requiresNoFormatting(resultHeaderTypes[$index])">
                    <pre class="query-result {{ resultHeaderTypes[$index] | columnTypeClass }}" ng-if="ColumnTypeCheck.isGeopoint(resultHeaderTypes[$index])">{{ column }} <a ng-href="https://www.openstreetmap.org/?mlat={{column[1]}}&mlon={{column[0]}}&layers=H" target="_blank"><i class="fa fa-external-link"></i></a></pre>
                    <pre class="query-result {{ resultHeaderTypes[$index] | columnTypeClass }}" ng-if="ColumnTypeCheck.isTimestamp(resultHeaderTypes[$index])">{{ column }} <span class="formatted-timestamp">({{ column | formatTimestamp }})</span></pre>
                    <pre class="query-result {{ resultHeaderTypes[$index] | columnTypeClass }}" ng-if="ColumnTypeCheck.requiresArrayFormatting(resultHeaderTypes[$index])"><formatted-array array="column" typesarray="resultHeaderTypes[$index]" expand="true"></formatted-array></pre>
                    <pre class="query-result {{ resultHeaderTypes[$index] | columnTypeClass }}" ng-if="ColumnTypeCheck.requiresJSONFormatting(resultHeaderTypes[$index])"><formatted-object object="column" expand="true"></formatted-object></pre>
                    <pre class="query-result {{ resultHeaderTypes[$index] | columnTypeClass }}" ng-if="ColumnTypeCheck.isGeoarea(resultHeaderTypes[$index])"><span>Type</span>: {{ column['type']}} <a ng-href="http://geojson.io/#data=data:application/json,{{ column | urlEncodedJson }}" target="_blank"><i class="fa fa-external-link"></i></a><br/><span>Coordinates</span>: {{ column['coordinates'] }} </pre>
                  </div>
                </div>
                <div ng-if="!formatResults">
                  <pre class="query-result" ng-if="column != null">{{ column }} <span class="unsafe-number" data-original-title="{{ 'CONSOLE.UNSAFE_INTEGER' | translate }}" cr-tooltip cr-tooltip-position="right" ng-if="!ColumnTypeCheck.isSafe(column)"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span> </pre>
                  <pre class="query-result" ng-if="column == null">NULL</pre>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>
