<li><a href="#" id="nav-overview"><i class="fa fa-th-large"></i>Overview</a></li>
<li><a href="console" id="nav-consule"><i class="fa fa-code"></i>Console</a></li>
<li><a href="tables" id="nav-tables"><i class="fa fa-table"></i>Tables</a></li>
<li><a href="cluster" id="nav-cluster"><i class="fa fa-sitemap"></i>Cluster</a></li>
<li><a href="/_plugin/docs"  id="nav-docs" data-bypass="" target="_blank"><i class="fa fa-book"></i><div>Docs</div></a></li>
<li><a class="navbar-brand" href="https://crate.io" target="_blank" title="Visit the Crate website"></a></li>
