<div ng-controller="NodeListController">

  <div class="side-bar node-side-bar" ng-show="renderSidebar">

    <div class="side-bar__header node-list__header">
      <div class="node-list__header__title">
        {{ 'NODE.NODES' | translate }}
      </div>
      <div class="node-list__header__order">
        <a ng-click="sortBy('name')" class="node-list__header__btn"><i ng-class="sortClass('name')"></i> {{ 'NODE.NAME' | translate }}</a>
        <a ng-click="sortBy('health_value')" class="node-list__header__btn"><i ng-class="sortClass('health_value')"></i> {{ 'NODE.HEALTH' | translate }}</a>
      </div>
    </div>

    <div class="node-list">
      <div class="side-bar__element node-list__element" ng-repeat="node in nodes | orderBy:sort.col:sort.desc track by node.id" ng-class="{ 'active': isActive(node) }">
        <a ng-href="#/nodes/{{ node.id }}">
          <div class="node-list__element__header">
            <div class="node-list__element__name">
              <h3>{{ node.name }}</h3>
            </div>
            <div class="node-list__element__health">
              <span ng-if="node.master_node" class="health-bubble node-list__element__master" data-toggle="tooltip" rel="tooltip" title="Master node"></span>
              <span class="health-bubble {{ node.health.status | healthPanelClass }}" title="{{ node.health.status }}"></span>
            </div>
          </div>
          <div class="node-list__element__host">
            <div class="node-list__element__hostname">
              {{ node.hostname }}
            </div>
            <div class="node-list__element__version" ng-class="{'label-warning': !isSameVersion(node.version)}">
              {{ node.version.number }}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
