
  <div class="row">
      <div class="col-md-12">
          <div class="page-header"><h1>Cluster overview</h1></div>
      </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-4 col-sm-5">
      <div class="panel">
        <div class="panel-heading">
          <p class="announcement-heading"><span class="clusterstatus-{{cluster_state}}">{{ cluster_state }}</span></p>
          <p class="announcement-text">Health</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-5">
      <div class="panel {{this.replicatedStatusClass()}}">
        <div class="panel-heading">
          <p class="announcement-heading">{{replicated_data}}%</p>
          <p class="announcement-text">Fully replicated Data</p>
        </div>
      </div>
    </div>


    <div class="col-md-4 col-sm-5">
      <div class="panel {{this.availableDataClass()}}">
        <div class="panel-heading">
          <p class="announcement-heading">{{ available_data }}%</p>
          <p class="announcement-text">Available Data</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-5">
      <div class="panel">
        <div class="panel-heading">
          <p class="announcement-heading inline-block"> {{ records_total }}</p>
          <p class="announcement-text">Records total</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-5">
      <div class="panel  {{this.replicatedStatusClass()}}">
        <div class="panel-heading">
          <p class="announcement-heading inline-block"> {{ records_underreplicated }}
          </p>
          <p class="announcement-text">Underreplicated Records</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-5">
      <div class="panel {{this.availableDataClass()}}">
        <div class="panel-heading">
          <p class="announcement-heading inline-block"> {{ records_unavailable }}</p>
          <p class="announcement-text">Unavailable Records</p>
        </div>
      </div>
    </div>
  </div><!-- /.row -->





