<div class="page-container">

    <div class="row">
      <div class="col-sm-12">
        <div class="cr-page-header">
          <h1>{{ 'NAVIGATION.CLUSTER' | translate }} : {{ cluster.name }}</h1>
        </div>
      </div>
    </div><!-- /.row -->

    <div class="cr-panel-block--info">

      <div class="cr-panel-block__item--info"> 
        <div class="cr-panel-block__item__header">{{ 'OVERVIEW.HEALTH' | translate }}</div>         
        <div class="cr-panel-block__item__content cr-panel--default"
            ng-class="cluster_color_class">
          {{ cluster.state }}
        </div>
      </div>

      <div class="cr-panel-block__item--info"> 
        <div class="cr-panel-block__item__header">{{ 'OVERVIEW.REPLICATED_DATA' | translate }}</div>         
        <div class="cr-panel-block__item__content cr-panel--default" 
            ng-class="{'cr-panel--warning': replicated_data < 100}">{{replicated__data | floor:1}}%
        </div>
      </div>

      <div class="cr-panel-block__item--info"> 
        <div class="cr-panel-block__item__header">{{ 'OVERVIEW.AVAILABLE_DATA' | translate }}</div>         
        <div class="cr-panel-block__item__content cr-panel--default" 
            ng-class="{'cr-panel--danger': available_data < 100}">{{available_data | floor:1}}%
        </div>
      </div>


      <div class="cr-panel-block__item--info"> 
        <div class="cr-panel-block__item__header">{{ 'OVERVIEW.TOTAL_RECORDS' | translate }}</div>         
        <div class="cr-panel-block__item__content cr-panel--default">
          {{ records_total|roundWithUnit:1 }}
        </div>
      </div>

      <div class="cr-panel-block__item--info"> 
        <div class="cr-panel-block__item__header">{{ 'OVERVIEW.UNDERREPL_RECORDS' | translate }}</div>         
        <div class="cr-panel-block__item__content cr-panel--default"
          ng-class="{'cr-panel--warning': records_underreplicated > 0}">
          {{ records_underreplicated|roundWithUnit:1 }}%
        </div>
      </div>

      <div class="cr-panel-block__item--info"> 
        <div class="cr-panel-block__item__header">{{ 'OVERVIEW.UNAVAIL_RECORDS' | translate }}</div>         
        <div class="cr-panel-block__item__content cr-panel--default"
          ng-class="{'cr-panel--danger': records_unavailable > 0}">
          {{ records_unavailable|roundWithUnit:1 }}%
        </div>
      </div>

    </div><!-- /.row -->

    <div class="cr-panel-block--checks" ng-show="chart.data">
        <div class="cr-panel-block__item--checks">
            <div class="cr-panel-block__item__header--checks">
              <h2>{{ 'OVERVIEW.CLUSTER_LOAD' | translate }}</h2>
            </div>
            <nvd3-line-chart id="cluser-load" data="chart.data"
              showXAxis="false"
              showYAxis="true"
              yaxisshowmaxmin="false"
              objectequality="true"
              forcey="[0,1]"
              interactive="false"
              showLegend="true">
              <svg></svg>
            </nvd3-line-chart>
        </div>
        
        <div ng-show="checks.cluster_checks.length > 0" class="cr-panel-block__item--checks">
          <div>
            <div class="cr-panel-block__item__header--checks">
              <h2>{{ 'OVERVIEW.CLUSTER_CHECKS' | translate }}</h2>
              <a ng-click="refresh()" class="cr-panel-block__item__header__icon--checks">
                <i class="fa fa-refresh"></i>
              </a>
            </div>
            <div class="">
              <div ng-repeat="check in checks.cluster_checks" >
                <div class="cr-severity-content {{ check.severity  | severityClass }}">
                  <span>{{ check.severity | severityText }}</span>
                  <p ng-bind-html="check.description | linky:'_blank'"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="checks.node_checks.length > 0" class="cr-panel-block__item--checks">
          <div>
            <div class="cr-panel-block__item__header--checks">
              <h2>{{ 'OVERVIEW.NODES_CHECKS' | translate }}</h2>
              <a ng-click="refresh()" class="cr-panel-block__item__header__icon--checks">
                <i class="fa fa-refresh"></i>
              </a>
            </div>
            <div class="">
              <div ng-repeat="check in checks.node_checks" >
                <div class="cr-severity-content {{ check.severity  | severityClass }}">
                  <span>{{ check.severity | severityText }}</span>
                  <p ng-bind-html="check.description | linky:'_blank'"></p>
                </div>
                <div>
                  <div class="cr-severity-header">
                    <div class="cr-severity-header__title">{{ 'OVERVIEW.AFFECTED_NODES' | translate }}:</div>
                    <a class="cr-severity-header__btn" ng-click="dismissCheck(check)">{{ 'OVERVIEW.DISMISS_ALL' | translate }}</a>
                  </div>
                  <div class="cr-severity-list__item__header" ng-repeat="node in check.nodes track by node.id">
                    <div class="cr-severity-list__item__header__title">{{ node.name }}</div>
                    <a class="cr-severity-list__item__header__btn" ng-click="dismissCheckByNode(node, check)">{{ 'OVERVIEW.DISMISS' | translate }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div><!-- /.row -->

</div>
