<div class="status-bar" ng-controller="StatusBarController">

  <div class="status-bar__icon">
    <div ng-click="toggleSideNav()">
      <i class="fa fa-2x fa-bars status-bar__icon--menu hide-gt-s"></i>
    </div>
    <img ng-if="!enterprise" class="status-bar__icon--crate" src="static/assets/CRA_logo_white.svg">
    <img ng-if="enterprise" class="status-bar__icon--crate" src="static/assets/logo-CrateDB@2x.png">
    <div id="license-ident" ng-if="licenseIdent" data-original-title="Copy to clipboard" cr-tooltip cr-tooltip-position="bottom" ng-if="enterprise" class= "status-bar__license">
      <div>License:</div>
      <div ngclipboard data-clipboard-text="{{licenseIdent}}" >{{licenseIdent | limitTo:30}}{{licenseIdent.length > 30 ? '...' : ''}}</div>
    </div>
    <div class= "status-bar__license--unlicensed" ng-if="enterprise && !licenseIdent">Unlicensed</div>
  </div>

  <div class="status-bar__content">
    <div class="status-bar__content__item hide-m">{{ 'STATUSBAR.CLUSTER' | translate }}: <span>{{ cluster_name }}</span></div>

    <div class="status-bar__content__item hide-m">{{ 'STATUSBAR.VERSION' | translate }}:
      <div ng-if="version_warning " class="cr-bubble cr-bubble--danger"></div>
      <span ng-show="version" data-original-title="{{ versions.join('\n') }}" rel="tooltip">
        {{ version.number }}
        <span ng-show="version.snapshot">-{{ 'STATUSBAR.SNAPSHOT' | translate }}-{{ version.hash.substr(0,7) }}</span>
      </span>
    </div>

    <div class="status-bar__content__item hide-xs">{{ 'STATUSBAR.NODES' | translate }}: {{num_nodes}} </div>

    <div class="status-bar__content__item hide-s">{{ 'STATUSBAR.HEALTH' | translate }}:
      <div class="cr-bubble {{ cluster_color_label }}"></div>
      <div>{{ 'STATUSBAR.DATA' | translate }}</div>
      <div class="cr-bubble {{ config_label }}"></div>
      <div><a class="status-bar__content__item-link" data-original-title="{{ checks_message }}" rel="tooltip" ng-href="#/">{{ 'STATUSBAR.CHECKS' | translate }}</a></div>
    </div>

    <div class="status-bar__content__item hide-xs">Load: <span class="">{{ load1 }}</span>/<span class="">{{ load5 }}</span>/<span class="">{{ load15 }}</span></div>

    <div ng-if="enterprise && user != ''" class= "status-bar__user">
      <i class="fa fa-2x fa-user"></i>
      <div>{{userName}}</div>
    </div>

    <div ng-controller="NotificationsController" class="status-bar__notifications">
      <div id="settings-icon" class="status-bar__content__item" ng-click="toggleSettings()" data-original-title="Settings" cr-tooltip cr-tooltip-position="bottom">
        <i class="fa fa-2x fa-cog"></i>
        <i id="unread-notifications-bg" ng-if="showUpdate" class="fa fa-circle"></i>
        <i id="unread-notifications" ng-if="showUpdate" class="fa fa-exclamation-circle"></i>
      </div>
      <div id="settings-backdrop" ng-if="showSettings" ng-click="toggleSettings()"></div>
      <div id="settings-wrapper"  class="cr-settings" ng-if="showSettings" ng-init="markAsRead('all')">
          <div class="cr-settings__item--language" ng-controller="LanguageSwitchController">
            <div class="cr-settings__item__label--language">Select language:</div>
            <div class="cr-dropdown">
              <div class="cr-dropdown__menu" ng-click="toggleDropDown()">
                <div>{{selectedLanguage | languageFilter}}</div>
                <div class="cr-dropdown__menu__icon"><i class="fa fa-caret-down"></i></div>
              </div>
              <div class="cr-dropdown__list" ng-if="showDropDown">
                <div class="cr-dropdown__list__item" ng-click="changeLanguage('auto')"> Auto detect</div>
                <div class="cr-dropdown__list__item" ng-click="changeLanguage('en')"> English</div>
                <div class="cr-dropdown__list__item" ng-click="changeLanguage('de')"> Deutsch</div>
                <div class="cr-dropdown__list__item" ng-click="changeLanguage('es')"> Español</div>
              </div>
            </div>
          </div>

          <div class="cr-settings__item">
            <a class="cr-settings__item__label" ng-href="{{ docs_url }}" target="_docs"> {{ 'STATUSBAR.CRATE_MANUAL' | translate }} ({{ version.number }})</a>
          </div>


          <div class="cr-settings__item"  ng-repeat="item in menu">
            <a class="cr-settings__item__label" ng-href="{{item.url}}" target="_menu_{{$index}}">
              {{item.title}}
            </a>
          </div>

          <div class="notifications-wrapper" ng-if="entries">
            <div class="notifications-wrapper__header">
              <div>{{ 'STATUSBAR.NOTIFICATIONS' | translate }}</div>
            </div>

            <div class="notification" ng-show="showUpdate">
              <div class="notification__item" ng-click="goToUrl('https://crate.io/download/')">
                <div class="notification__status">
                 <div class="cr-bubble cr-bubble--blue"></div>
                </div>
                <div class="notification__content">
                  <p translate="STATUSBAR.OLD_VERSION_TIP" translate-value-version="{{serverVersion}}"></p>
                  <p translate="STATUSBAR.UPDATE_TIP" translate-value-version="{{stableVersion}}"></p>
                </div>
              </div>
            </div>
            
            <div class="no-notification" ng-if="!showUpdate">
              <div class="notification__item">
                <div class="notification__status"></div>
                <div class="notification__content">
                  {{ 'STATUSBAR.NO_NOTIFICATION' | translate }}
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>
