<div>
  <div ng-class="$root.showSideList ? '' : 'hide-sidebar-list'">
  	<div class="page-container" ng-if="empty">
      <h1 class="cr-page-header">{{ 'TABLE.TITLE' | translate }}</h1>
      <div class="cr-panel-block">
        <p>
          <b>{{ 'TABLE.VOID_MESSAGE' | translate }}</b>
          <span translate="TABLE.VOID_DETAILS" translate-values="{statement: '<a target=\'_blank\' href=\'https://crate.io/docs/crate/reference/en/latest/general/ddl/create-table.html\'>CREATE TABLE</a>'}"></span>
        </p>
      </div>
    </div>
    <table-list ng-if="!empty"></table-list>
  </div>
  <ui-view></ui-view>
</div>
