<div id="content-wrapper">

  <div ng-include="'views/tablelist.html'"></div>

  <div class="row">

    <div class="col-lg-8 col-md-8" ng-class="{'margin-left-350': renderSidebar}" ng-show="table">

      <div class="row">
        <div class="col-lg-11 col-md-11">
          <div class="page-header">
            <h1>
              <a id="menu-toggle" ng-click="toggleSidebar()" class="btn btn-default"><i class="fa fa-bars"></i></a>
              <span>{{table_label}} <span ng-show="isParted" class="small">(partitioned)<span></span>
            </h1>
          </div>
        </div>
      </div><!-- /.row -->

      <div class="row">
        <div class="col-md-4 col-sm-5">
          <div class="panel panel-info text-right {{table.health_panel_class}}">
            <div class="panel-heading">
              <p class="announcement-heading">{{table.health}}</p>
              <p class="announcement-text">Health</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-5">
          <div class="panel panel-info text-right">
            <div class="panel-heading">
              <p class="announcement-heading">{{table.replicas_configured}}</p>
              <p class="announcement-text">Configured Replicas</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-5">
          <div class="panel panel-info text-right">
            <div class="panel-heading">
              <p class="announcement-heading">{{table.shards_configured}}</p>
              <p class="announcement-text">Configured Shards</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-5">
          <div class="panel panel-info text-right"
               ng-class="{ 'panel-danger': startedShardsError(table) }">
            <div class="panel-heading">
              <p class="announcement-heading">{{table.shards_started}}</p>
              <p class="announcement-text">Started Shards</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-5">
          <div class="panel panel-info text-right" ng-class="{ 'panel-danger': table.shards_missing > 0}">
            <div class="panel-heading">
              <p class="announcement-heading">{{table.shards_missing}}</p>
              <p class="announcement-text">Missing Shards</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-5">
          <div class="panel panel-info text-right" ng-class="{ 'panel-warning': table.shards_underreplicated > 0}">
            <div class="panel-heading">
              <p class="announcement-heading">{{table.shards_underreplicated}}</p>
              <p class="announcement-text">Underreplicated Shards</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-5">
          <div class="panel panel-info text-right">
            <div class="panel-heading">
              <p class="announcement-heading inline-block" data-toggle="tooltip" rel="tooltip" data-original-title="{{table.records_total | number:0}}">{{table.records_total | roundWithUnit:1}}</p>
              <p class="announcement-text">Total {{ table.type_display_name }}s</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-5">
          <div class="panel panel-info text-right" ng-class="{ 'panel-danger': table.records_unavailable > 0}">
            <div class="panel-heading">
              <p class="announcement-heading inline-block" data-toggle="tooltip" rel="tooltip" data-original-title="{{table.records_unavailable | number:0}}">{{table.records_unavailable | roundWithUnit:1}}</p>
              <p class="announcement-text">Unavailable {{ table.type_display_name }}s</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-5">
          <div class="panel panel-info text-right" ng-class="{ 'panel-warning': table.records_underreplicated > 0}">
            <div class="panel-heading">
              <p class="announcement-heading inline-block" data-toggle="tooltip" rel="tooltip" data-original-title="{{table.records_underreplicated | number:0}}">{{table.records_underreplicated | roundWithUnit:1}}</p>
              <p class="announcement-text">Underreplicated {{ table.type_display_name }}s</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-5">
          <div class="panel panel-info text-right">
            <div class="panel-heading">
              <p class="announcement-heading inline-block" data-toggle="tooltip" rel="tooltip" data-original-title="{{table.size | number:0}}">{{table.size | bytes}}</p>
              <p class="announcement-text">Size</p>
            </div>
          </div>
        </div>
      </div><!-- /.row -->

      <div class="row" ng-show="renderPartitions">
        <div class="col-lg-11 col-md-11">
          <div class="page-header">
            <p class="pull-right" ng-show="table.partitioned">Partition Columns: <b ng-repeat="col in table.partitioned_by">{{col}}{{$last?'':', '}}</b></p>
            <h2>Partitions</h2>
          </div>
          <div class="table-responsive table-hscroll">
            <table class="table table-hover table-bordered tablesorter">
              <thead>
                <tr>
                  <th rowspan="2" class="header" ng-click="ptCtlr.sortByColumn('health')">Health <i ng-class="ptCtlr.selected('health')"></i></th>
                  <th rowspan="2" class="header" ng-click="ptCtlr.sortByColumn('partition_ident')">Ident <i ng-class="ptCtlr.selected('partition_ident')"></i></th>
                  <th colspan="{{ table.partitioned_by.length }}" class="header header-colspan">Partition Values</th>
                  <th rowspan="2" class="header" ng-click="ptCtlr.sortByColumn('replicas_configured')">Conf. Replicas<i ng-class="ptCtlr.selected('replicas_configured')"></i></th>
                  <th rowspan="2" class="header" ng-click="ptCtlr.sortByColumn('shards_configured')">Conf. Shards<i ng-class="ptCtlr.selected('shards_configured')"></i></th>
                  <th rowspan="2" class="header">Started Shards</th>
                  <th rowspan="2" class="header">Missing Shards</th>
                  <th rowspan="2" class="header">Underr. Shards</th>
                  <th rowspan="2" class="header" ng-click="ptCtlr.sortByColumn('records_total')">Total Records<i ng-class="ptCtlr.selected('records_total')"></i></th>
                  <th rowspan="2" class="header">Unavail. Records</th>
                  <th rowspan="2" class="header">Underr. Records</th>
                  <th rowspan="2" class="header" ng-click="ptCtlr.sortByColumn('size')">Size<i ng-class="ptCtlr.selected('size')"></i></th>
                </tr>
                  <th class="header" ng-repeat="col in table.partitioned_by">{{ col }}</th>
                <tr>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in ptCtlr.data|orderBy:ptCtlr.sort.col:ptCtlr.sort.desc">
                  <td><span class="{{ item.health_label_class }}">{{ item.health }}</span></td>
                  <td>{{ item.partition_ident }}</td>
                  <td ng-repeat="col in table.partitioned_by">{{ item.partition_values[col] }}</td>

                  <td>{{ item.replicas_configured }}</td>

                  <td>{{ item.shards_configured }}</td>
                  <td>{{ item.shards_started }}</td>
                  <td>{{ item.shards_missing }}</td>
                  <td>{{ item.shards_underreplicated }}</td>

                  <td>{{ item.records_total }}</td>
                  <td>{{ item.records_unavailable }}</td>
                  <td>{{ item.records_underreplicated }}</td>

                  <td>{{ item.size|bytes }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div><!-- /.row -->

      <div class="row" ng-show="renderSchema">
        <div class="col-lg-11 col-md-11">
          <div class="page-header">
            <h2>Schema</h2>
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-bordered tablesorter">
              <thead>
              <tr>
                <th class="header">Name</th>
                <th class="header">Type</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="row in schemaRows">
                <td ng-repeat="column in row track by $index">{{ column }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div><!-- /.row -->


    </div>
  </div><!-- /.row -->

</div>
