<div ng-controller="TableListController">

  <div id="sidebar-wrapper" class="sidebar-350" ng-show="renderSidebar">

    <ul class="nav" ng-repeat="type in tables track by $index">
      <li class="nav-tabs-header" id="nav-tabs-header-{{$index}}">
        <a href class="tabs-header" ng-click="toggleElements($index)"><i class="fa fa-caret-down" ng-class="{'fa-caret-down': !isCollapsed($index), 'fa-caret-right': isCollapsed($index)}"></i> {{ type.display_name }}</a>
      </li>
      <ul class="nav nav-tabs" id="nav-tabs-{{$index}}" ng-class="{'collapse': isCollapsed($index), 'in': !isCollapsed($index)}">
        <li ng-repeat="table in type.tables track by $index" ng-class="{ 'active': isActive(table.schema_name, table.name)}">
          <a href="#/tables/{{ table.schema_name }}/{{ table.name }}">
            <h3><span class="{{table.health_label_class}}">{{table.name}}</span></h3>
            <span class="{{table.health_label_class}}">{{ table.summary }}</span>
          </a>
        </li>
      </ul>
    </ul>

  </div>

</div>

