<div ng-controller="TableListController">

  <div class="side-list" ng-show="renderSidebar">
    <div class="row">
      <div class="col-xs-12">
        <input class="nav" id="tableFilter" ng-model="search.$" placeholder="Filter tables ..." type="text" focus="true"></input>
      </div>
    </div>
    <ul class="nav" ng-repeat="type in tables track by $index">
      <li class="nav-tabs-header" id="nav-tabs-header-{{$index}}">
        <a class="tabs-header" href ng-click="toggleElements($index)">
          <i class="fa fa-caret-down" ng-class="{'fa-caret-down': !isCollapsed($index), 'fa-caret-right': isCollapsed($index)}"></i>
          {{ type.display_name }}</a>
      </li>
      <ul class="nav nav-tabs" id="nav-tabs-{{$index}}" ng-class="{'collapse': isCollapsed($index), 'in': !isCollapsed($index)}">
        <li ng-class="{ 'active': isActive(table.schema_name, table.name)}" ng-repeat="table in type.tables | filter:search track by $index">
          <a href="#/tables/{{ table.schema_name }}/{{ table.name }}">
            <div class="row">
              <div class="col-sm-10 col-xs-10">
                <h3>{{ table.name }}</h3>
              </div>
              <div class="col-sm-2 col-xs-2 text-right">
                <span class="health-bubble {{ table.health_label_class }}" title="{{ table.health.status }}"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <span>{{ table.records_total|roundWithUnit:1 }}
                  Records ({{ table.size|bytes }})</span>
                <span class="hide-md"><br/>{{ table.summary }}</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </ul>
  </div>
</div>
