<div class="row">
  <div class="col-lg-11">
    <div class="page-header">
      <h1>Introduction to Crate</h1>
    </div>
  </div>
</div>
<p class="row">Sometimes it helps just to test with something real. We have added a Twitter importer to quickly let you test your new Crate instance with real data. Press the button, and watch your cluster quickly fill up in real time with live Tweets. You can always delete them later.</p>
<div class="row">
  <ul>
    <li>Your imported tweets will be stored in a table called <b>tweets</b>.</li>
    <li>Click <b>TABLES</b> on the left to see the table and its stats. You should see its records increase as the tweets import.</li>
    <li>Click <b>CONSOLE</b> to query the table directly with SQL. For starters, you can try: <code>SELECT text FROM tweets LIMIT 100</code></li>
  </ul>
</div>

<div class="row">
  <p id="import-button"><button id="start-import" type="submit" class="btn btn-default" data-style="expand-left" data-spinner-size="30"><i class="fa fa-twitter"></i> Import tweets for testing</button>
  </p>
</div>
<div class="row" id="stop-button" style="display:none;">
  <p>Importing tweets. <strong id="tweets">{{ count }}</strong> tweets imported.</p>
  <p><button type="submit" id="stop-import" class="btn btn-default" data-style="expand-left" data-spinner-size="30"><i class="fa fa-stop"></i> Enough! Stop importing tweets.</button></p>
</div>
