<div class="side-bar table-side-bar" ng-show="renderSidebar">

  <div class="filter__wrapper">
    <input id="tableFilter" ng-model="search" placeholder="Filter UDFs ..." type="text" focus="true" />
    <a ng-if="search" class="cr-clear-filters" ng-click="clearFilter()">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </a>
    <div>
      <div ng-if="!collapsed" class="table__list__btn" ng-click="collapseAll()">
        <img  class="collapse_btn" src="static/assets/icon-collapse-all.svg"/>
      </div>
      <div ng-if="collapsed" class="table__list__btn" ng-click="unCollapseAll()">
        <img class="collapse_btn" src="static/assets/icon-expand-all.svg"/>
      </div>
    </div>
  </div>

  <div class="table-list-wrapper">
    <div class="table-group" ng-repeat="type in udfs track by $index">

      <div class="table__tab__header" id="table-nav-tab-header-{{$index}}" ng-class="isCollapsed($index) ? '' : 'table__tab__tab-header--selected'">
        <div class="side-bar__header table__tab__header" ng-click="toggleElements($index)">
          <i class="fa fa-caret-down" ng-class="{'fa-caret-down': !isCollapsed($index), 'fa-caret-right': isCollapsed($index)}"></i>
          {{ type.display_name }} {{ 'UDF.TITLE' | translate }}</div>
      </div>

      <div id="table-side-bar-list--{{$index}}"
            class="table-side-bar-list"
            ng-class="{'collapse': isCollapsed($index), 'in': !isCollapsed($index)}">
        <a class="side-bar__element tables-list__element"
           ng-class="{ 'active': isActive(udf.schema, udf.name)}"
           ng-if="renderSidebar"
           ng-repeat="udf in type.udfs | filter:udfFilter track by $index"
           href="#!/udfs/{{ udf.schema }}/{{ udf.name }}/{{udf.input_types}}">
           <div class="table-name-row">
            <div class="table-name">
              <h3>{{ udf.name }}</h3>
            </div>
          </div>
          <div class="table-information">
            <span>{{ udf.input_types }}</span>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
