<div>
  <div ng-class="$root.showSideList ? '' : 'hide-sidebar-list'">
    <div class="page-container" ng-if="empty">
      <h1 class="cr-page-header">{{ 'VIEW.TITLE' | translate }}</h1>
      <div class="cr-panel-block">
        <p>
          <b>{{ 'VIEW.VOID_MESSAGE' | translate }}</b>
          <span translate="VIEW.VOID_DETAILS" translate-values="{statement: '<a target=\'_blank\' href=\'https://crate.io/docs/crate/reference/en/latest/general/ddl/views.html\'>CREATE VIEW</a>'}"></span>
        </p>
      </div>
    </div>
    <view-list ng-if="!empty"></view-list>
  </div>
  <ui-view></ui-view>
</div>
